<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/auction</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
        <!--<property name="hbm2ddl.auto">create</property>-->
        <!--<mapping resource="net/njiajia/test/FirstMavenTest/people.hbm.xml"/>-->  
        
        <mapping class="org.crazyit.auction.model.AuctionUser"/>
        <mapping class="org.crazyit.auction.model.Bid"/>
        <mapping class="org.crazyit.auction.model.Item"/>
        <mapping class="org.crazyit.auction.model.Kind"/>
        <mapping class="org.crazyit.auction.model.State"/>

    </session-factory>

</hibernate-configuration>